#body {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  width: 100%;
  flex-wrap: wrap;
}

#canvas {
  border: 1px solid rgba(0, 0, 0, 0.107);
  border-radius: 5px;
  border: 0;
  background-color: #fcdced;
  width: 400px;
}

.canvas {
  display: inline;
  position: relative;
  /* width: 700px; */
  /* height: min-content; */
  /* max-height: 450px; */
}

.options {
  float: right;
  /* margin-right: 35%; */
  margin-right: -5%;
  /* width: 12%; */
  max-height: 550px;
  overflow-y: auto;
  visibility: hidden;
}

.clickedOption {
  border: 3px solid black;
  background-color: pink;
}

.options ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  list-style: none;
  padding-left: 0;
  width: 85px;
}

.options li {
  /* background: rgba(128, 128, 128, 0.107); */
  /* width: 5em;
    height: 5em;
    margin: .5em;
    text-align: center; */
  cursor: pointer;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.107);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  margin-right: 25px;
}

.options li img {
  width: 100%;
}

.categories {
  /* border: 1px solid black; */
  overflow: auto;
  /* width: 50%; */
  margin-top: 20px;
  /* max-width: 35%; */
  /* width: 50%; */
  width: 500px;
  white-space: nowrap;
}

.categories a {
  border: 1px solid rgba(0, 0, 0, 0.107);
  border-radius: 15px;
  list-style: none;
  padding: 40px;
  margin: 5px 15px;
  display: inline-block;
  cursor: pointer;
}

.clickedCategory {
  background-color: pink;
}

.options::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg, #d0368a 0%, #708ad4 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  border-radius: 100px;
}

.options::-webkit-scrollbar {
  width: 16px;
}

.options::-webkit-scrollbar-track {
  background-color: #e4e4e473;
  border-radius: 100px;
}

.categories::-webkit-scrollbar-thumb {
  background-image: linear-gradient(90deg, #d0368a 0%, #708ad4 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  border-radius: 100px;
}

.categories::-webkit-scrollbar {
  width: 16px;
}

.categories::-webkit-scrollbar-track {
  background-color: #e4e4e473;
  border-radius: 100px;
}

#exportCanvasBtn {
  position: absolute;
  left: 300px;
  bottom: 13px;
  font-size: 12px;

  cursor: pointer;
  background-color: pink;
  border: 0;
  border-radius: 5px;
  padding: 5px;
}

#toggleMultiselectBtn {
  position: absolute;
  left: 285px;
  top: 10px;
  font-size: 12px;

  background-color: rgb(255, 255, 255);
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  padding: 5px;
}

#toggleMultiselectBtn.active {
  background-color: pink;
}

/* Modal: popup screen to switch doll */
#switchDollBtn {
  position: absolute;
  left: 8px;
  top: 10px;
  font-size: 12px;

  background-color: pink;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  padding: 5px;
}
.dollsModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.dollsModal ul {
  list-style: none;
  margin: 1% auto; /* 1% from the top and centered */
  padding: 20px;
  width: 60%;
  background-color: white;

  display: flex;
  flex-wrap: wrap;
}

.dollsModal li {
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.107);
  border-radius: 15px;

  width: 200px;
  margin: 10px;
}

.dollsModal li img {
  width: 100%;
}

#saveDollsBtn {
  background-color: pink;
  font-weight: 500;
  font-size: 22px;
  display: flex;
  margin: 0 auto; /* 1% from the top and centered */
  padding: 20px 40px;
  justify-content: center;
  border: 0;
  cursor: pointer;
  white-space: nowrap;
}

.modalCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  height: 286.5px;
}

.modalCard span {
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 500px) {
  #body {
    display: block;
  }

  .categories {
    max-width: 100%;
    width: 85%;
    margin-top: 5px;
  }

  .categories a {
    padding: 25px;
  }

  #canvas {
    height: 400px;
    width: 300px;
    margin-left: 30px;
  }

  .options {
    float: none;
    width: 100%;
  }
  .options ul {
    /* flex-direction: row;
    flex-wrap: nowrap;
    width: 150%; */
    flex-direction: column;
    flex-wrap: wrap;
    /* width: 150%; */
    height: 70px;
    margin-top: 5px;
  }

  .options li {
    width: 60px;
  }

  .options li img {
    /* height: 150%;
    width: 100%; */
    height: 75px;
    width: 65%;
    /* width: 80%; */
  }

  #exportCanvasBtn {
    right: unset;
    bottom: unset;
    left: 230px;
    top: -18px;
  }

  #toggleMultiselectBtn {
    right: unset;
    bottom: unset;
    left: 215px;
    top: -380px;
  }

  .options::-webkit-scrollbar-thumb {
    background-image: linear-gradient(90deg, #d0368a 0%, #708ad4 99%);
  }

  #switchDollBtn {
    right: unset;
    bottom: unset;
    left: 37px;
    top: -380px;
  }

  .dollsModal li {
    width: 40%;
  }

  .modalCard {
    width: 40%;
    height: 112px;
    font-size: 15px;
  }

  #saveDollsBtn {
    font-size: 14px;
  }

  .options::-webkit-scrollbar {
    height: 5px;
  }
  .categories::-webkit-scrollbar {
    height: 5px;
  }
}
@media screen and (max-width: 400px) {
  /* @media screen and (max-height: 670px) { */
  #canvas {
    width: 280px;
    height: 350px;
  }

  #exportCanvasBtn {
    left: 210px;
  }
  #switchDollBtn {
    top: -330px;
  }
  #toggleMultiselectBtn {
    top: -330px;
    left: 200px;
  }

  .categories a {
    font-size: 12px;
  }
}
